{% extends 'layouts/main.html' %}
{% load static %}
{% block content %}

    <body>

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row gy-4 justify-content-center">
                <div class="col-lg-4">
                    <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-5 content">
                    <h2>Professional Photographer from New York</h2>
                    <p class="fst-italic py-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore
                        magna aliqua.
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong>
                                    <span>17 June 2009</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                                    <span>kiddzo.com</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                                    <span>+998 93 322 4476</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Uzbekistan, Tashkent</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>14</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Middle</span>
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>trendy2022.asus@gmail.com</span>
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong>
                                    <span>Unavailable</span></li>
                            </ul>
                        </div>
                    </div>
                    <p class="py-3">
                        Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci
                        omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
                        Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque
                        neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni
                        laudantium dolores.
                    </p>
                    <p class="m-0">
                        Recusandae est praesentium consequatur eos voluptatem. Vitae dolores aliquam itaque odio nihil.
                        Neque ut neque ut quae voluptas. Maxime corporis aut ut ipsum consequatur. Repudiandae sunt
                        sequi minus qui et. Doloribus molestiae officiis.
                        Soluta eligendi fugiat omnis enim. Numquam alias sint possimus eveniet ad. Ratione in earum eum
                        magni totam.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container">
            {% if users and not user.username == 'admin' %}
                <div class="section-header">
                    <h2>---</h2>
                    <p>Top 5 users</p>
                </div>
            {% endif %}

            <div class="slides-3 swiper">
                <div class="swiper-wrapper">
                    {% if users %}
                        {% for user in users %}
                            {% if user.username == 'admin' %}
                            {% else %}
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="profile mt-auto">
                                            {#                                        <img src="{% if user.img %}{{ user.img.url }}{% endif %}" class="testimonial-img"#}
                                            {#                                             alt="">#}
                                            <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                                        </div>
                                        <br>
                                        <p>
                                            {{ user.bio }}
                                        </p>

                                    </div>
                                </div><!-- End testimonial item -->
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <h3>There is no famous user</h3>
                        <small>Be first.</small>
                    {% endif %}


                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->

    </main><!-- End #main -->
{% endblock %}