{% extends 'layouts/main.html' %}
{% block content %}
    <body>
    <main id="main" data-aos="fade" data-aos-delay="1500">

        <!-- ======= End Page Header ======= -->
        <div class="page-header d-flex align-items-center">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>All Blogs</h2>
                        <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas
                            consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione
                            sint. Sit quaerat ipsum dolorem.</p>
                    </div>
                </div>
            </div>
        </div><!-- End Page Header -->
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="shop__product__option__right">
                <p>Sort by:</p>
                <select onchange="addParam('sort', this.value)">
                    <option value="likes" {% if request.GET.sort == 'likes' %}selected{% endif %}>Most Likes</option>
                    <option value="-id" {% if request.GET.sort == '-id' %}selected{% endif %}>Most News</option>
                </select>
            </div>
        </div>

        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
            <div class="container-fluid">

                <div class="row gy-4 justify-content-center">
                    {% for obj in object_list %}
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="gallery-item h-100">
                                <img src="{{ obj.image.url }}" class="img-fluid" alt="">
                                <div class="gallery-links d-flex align-items-center justify-content-center">
                                    <a href="{{ obj.image.url }}" title="{{ obj.title }} · {{ obj.total_likes }} Likes"
                                       class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                                    <form action="{% url 'gallery-like' obj.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit"
                                                name="post_id"
                                                ,
                                                value="{{ obj.id }}"
                                                class="preview-link"><i class="bi bi-hand-thumbs-up"></i></button>
                                    </form>
                                    <a href="{% url 'detail' pk=obj.pk %}" class="details-link"><i
                                            class="bi bi-link-45deg"></i></a>
                                    {% if request.user == obj.owner %}
                                        <a href="{% url 'gallery-delete' pk=obj.pk %}" class="details-link">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                 fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                            </svg>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div><!-- End Gallery Item -->
                    {% endfor %}

                </div>

            </div>
        </section><!-- End Gallery Section -->

    </main><!-- End #main -->
    <script>
        function addParam(name, value) {
            var param = new URLSearchParams(window.location.search)
            if (param.has(name) && param.get(name) == value) {
                param.delete(name)
            } else {
                param.append(name, value)
            }
            window.location.search = param.toString()
        }
    </script>
{% endblock %}