{% load static %}
<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <a href="{% url 'home' %}" class="logo d-flex align-items-center  me-auto me-lg-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="{% static 'img/K.png' %}" alt="">
            <h1>KiddZo</h1>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{% url 'home' %}" {% if request.path == '/' %}class="active"{% endif %} >Home</a></li>
                <li><a href="{% url 'gallery' %}" {% if request.path == '/gallery/' %}class="active"{% endif %} >Gallery</a></li>
                <li><a href="{% url 'about' %}" {% if request.path == '/about/' %}class="active"{% endif %} >About</a></li>
                <li><a href="{% url 'contact' %}" {% if request.path == '/contact/' %}class="active"{% endif %} >Contact</a></li>
                {% if request.user.is_authenticated %}
                    <li class="dropdown"><a href="#"><span>{{ request.user }}</span> <i
                            class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li class="dropdown"><a href="#"><span>Account</span> <i
                                    class="bi bi-chevron-down dropdown-indicator"></i></a>
                                <ul>
                                    <li class="dropdown"><a href="#"><span>{{ request.user.points }}</span> <i
                                            class="bi bi-chevron-down dropdown-indicator"></i></a>
                                        <ul>
                                            <li><a href="

                                                    {% if not request.user.email_verified %}{% url 'verify' %}{% else %}{% url 'home' %}{% endif %}"
                                                   {% if request.user.email_verified %}disabled{% endif %}>
                                                {% if request.user.email_verified %}
                                                    <del>Verify Email to get 15 points</del>{% else %}Verify Email to
                                                    get 15
                                                    points{% endif %}</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#"><span>{{ request.user.popularity }}</span> <i
                                            class="bi bi-chevron-down dropdown-indicator"></i></a>
                                        <ul>
                                            <li><a href="{% url 'add-10' %}">Add 10 Popularity</a></li>
                                            <li><a href="{% url 'add-20' %}">Add 20 Popularity</a></li>
                                            <li><a href="{% url 'add-50' %}">Add 50 Popularity</a></li>
                                            <li><a href="{% url 'add-70' %}">Add 70 Popularity</a></li>
                                            <li><a href="{% url 'add-100' %}">Add 100 Popularity</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#"><span>Settings</span> <i
                                    class="bi bi-chevron-down dropdown-indicator"></i></a>
                                <ul>
                                    <li><a href="{% url 'report' %}">Report a problem</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav><!-- .navbar -->

        <div class="header-social-links">
            <a href="https://analytics.twitter.com/user/erkinov_mustafo/home" class="twitter"><i
                    class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/groups/900028467893061" class="facebook"><i
                    class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/_kiddzo_/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/groups/14206652/" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        </div>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
</header><!-- End Header -->